.container {
  box-shadow: rgba(0, 0, 0, 0.3) 10px 10px;
  background-color: var(--col-beige);
  border-radius: 40px;

  position: absolute;
  width: 70%;
  height: 70%;
  top: 15%;
  left: 15%;
}

.row {
  text-align: center;
  margin-top: 20%;
  color: darkred;
  font-size: 20px;
  font-weight: bolder;
}

@media screen and (max-height: 420px) {
  .row {
    font-size: 14px;
    margin-top: 10%;
  }

  img {
    height: 100%;
  }
}

img {
  height: 150%;
}
