.container {
  margin-top: 30px;
  box-shadow: rgba(0, 0, 0, 0.3) 10px 10px;
  background-color: #ededa6;
  height: 100%;
}

.input-group {
  margin-top: 10px;
}

.bubble {
  display: inline-block;
  padding: 5px 10px;
  border-radius: 50px;
  color: white;
  margin: 4px;
}

.message-0 {
  text-align: right;
}

.message-0 .bubble {
  background-color: #a6cfed;
}

.message-1 .bubble {
  background-color: #a6b6ed;
}

.nav-item {
  border-bottom: 1px solid black;
  margin-bottom: 10px;
}

.chat-field {
  position: relative;
  height: 70vh;
  display: block;
  overflow-y: auto;
}

.btn-add p {
  text-align: center;
  color: white;
  font-weight: bolder;
}
.btn-add {
  height: 40px;
  width: 40px;
  font-size: 30px;
}

.add-field {
  text-align: right;
}
