.container {
  box-shadow: rgba(0, 0, 0, 0.3) 10px 10px;
  background-color: var(--col-beige);
  height: 85vh;
  margin-top: 15vh;
}

main {
  height: 100%;
}

/*head*/
h1 {
  cursor: pointer;
}

h1:hover {
  color: #0069d9;
;
}

.btn-add {
  padding: 0;
  border: 0;
  height: 40px;
  width: 40px;
  font-size: 25px;
  font-weight: bolder;
  margin-top: 15px;
  cursor: pointer;
}

.add-field {
  text-align: right;
}

/*--head--*/

/*Navigation*/
nav {
  width: 25%;
  height: 73vh;
  margin: 2vh;
  border: 1px solid;
  overflow: hidden;
  background-color: var(--col-light-beige);
}

ul {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  padding-right: 17px;
  box-sizing: content-box;
}

li {
  line-height: 50px;
}

.nav-item {
  text-align: center;
  vertical-align: middle;
  height: 50px;
  padding: auto;
  width: 110%;
  border-bottom: 1px solid black;
  cursor: pointer;
}

.nav-item:hover {
  background-color: var(--col-dark-beige);
}

.current-chat {
  background-color: var(--col-dark-beige);
}

/*--navigation--*/

/*chat*/
.chat-section {
  margin: 2vh;
  height: 73vh;
  width: 100%;
}

.chat-field {
  border: 1px solid;
  overflow: hidden;
  right: -17px;
  width: 100%;
  height: 100%;
}

.message-field {
  height: 100%;
  width: 102%;
  overflow-y: scroll;
  padding-right: 17px;
  box-sizing: content-box;
  background-color: var(--col-light-beige);
}

.bubble {
  display: inline-block;
  padding: 5px 10px;
  border-radius: 50px;
  color: white;
  margin: 4px 10px;
}

.message-0 {
  text-align: right;
  margin-right: 20px;
}

.message-0 .bubble {
  background-color: #a6cfed;
}

.message-1 .bubble {
  background-color: #a6b6ed;
}

.input-group {
  margin-top: 4vh;
}

/*--chat--*/
