<app-error *ngIf="!isValidWidth" [errorText]="'We do not support your Device!'"></app-error>
<div *ngIf="isValidWidth" class="container" fxLayout="column">
  <header fxLayout="row" fxLayoutAlign="space-between">

    <div ngbDropdown class="d-inline-block">
      <h1 id="dropdownBasic1" ngbDropdownToggle>{{account.username}}</h1>
      <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
        <p (click)="logout()">Logout</p>
        <p>edit profile</p>
      </div>
    </div>

    <div class="add-field">
      <div class="btn btn-primary btn-add" (click)="addChat()">
        +
      </div>
    </div>
  </header>

  <main fxLayout="row" fxLayoutAlign="space-between">
    <nav>
      <ul *ngIf="allChats" class="flex-md-column flex-row navbar-nav w-100">
        <li *ngFor="let chat of allChats; let i = index">
          <div [ngClass]="'nav-item'+getSelected(chat)"
               (click)="setCurrentChat(chat.chatWith)">
            {{ chat.chatWith}}
          </div>
        </li>
      </ul>
    </nav>

    <div class="chat-section" fxLayout="column" fxLayoutAlign="space-between">
      <div class="chat-field">
        <div *ngIf="getCurrentChat()" class="message-field" fxLayout="column">
          <div *ngFor="let message of getCurrentChat().messages" [ngClass]="'message-' + wasSent(message)">
            <div class="bubble">{{message.text}}</div>
            {{scrollToBottom()}}
          </div>
        </div>
      </div>

      <form class="input-group mb-3" (ngSubmit)="sendMessage(chatForm)" #chatForm="ngForm">
        <input type="text" class="form-control" ngModel required
               name="message" #message="ngModel"
               placeholder="Your text..." aria-describedby="basic-addon2">
        <div class="input-group-append">
          <button class="btn btn-secondary" type="submit" [disabled]="!this.currentChat || this.isModalOpen">Send
          </button>
        </div>
      </form>
    </div>
  </main>
</div>
