.container {
  box-shadow: rgba(0, 0, 0, 0.3) 10px 10px;
  background-color: var(--col-beige);
  height: 85vh;
  top: 60px;
  margin-bottom: 60px;
}

@media screen and (max-width: 600px) {
  .container {
    top:0;
    height: 100vh;
  }
}


.chat-section {
  height: 100%;
  margin-top: 20px;
}

aside {
  border-radius: 30px;
  background-color: var(--col-light-beige);
  margin: 20px;
}

nav {
  text-align: center;
  padding: 0;
}

.nav-item {
  border: 1px solid black;
  height: 50px;
  padding:auto;
}

.nav-item:hover {
  background-color: var(--col-dark-beige);
}

.nav-item-top {
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
 }

.nav-item-bottom {
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}

.current-chat {
  background-color: var(--col-dark-beige);
}

.collapse {
  width: 100%;
}

.input-group {
  margin-top: 10px;
}

.bubble {
  display: inline-block;
  padding: 5px 10px;
  border-radius: 50px;
  color: white;
  margin: 4px;
}

.message-0 {
  text-align: right;
}

.message-0 .bubble {
  background-color: #a6cfed;
}

.message-1 .bubble {
  background-color: #a6b6ed;
}

.chat-field {
  position: relative;
  height: 70vh;
  display: block;
  overflow-y: auto;
}

.btn-add {
  padding: 0;
  border: 0;
  height: 40px;
  width: 40px;
  font-size: 25px;
  font-weight: bolder;
  margin-top: 15px;
}

.add-field {
  text-align: right;
}
