<div class="container card head">
  <div class="text-center head">
    <h1>Welcome to Whatsappn't</h1>
  </div>

  <div class="card-body" [formGroup]="loginForm">
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8">
        <input type="text" class="form-control" placeholder="Username" formControlName="username">
      </div>
      <div class="col-md-2"></div>
    </div>

    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8">
        <input type="Password" class="form-control" placeholder="Password" formControlName="password">
      </div>
      <div class="col-md-2"></div>
    </div>

    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8">
        <button class="btn btn-primary" (click)="onLoginClicked()">Login</button>
        <button class="btn btn-primary" (click)="signIn()">Sign Up</button>
      </div>
      <div class="col-md-2"></div>
    </div>

    <div *ngIf="error" class="alert alert-danger text-center" role="alert">
      {{error}}
    </div>
  </div>
</div>



