<div>
  <svg [ngStyle]="{
  'transform': 'rotate('+rotation+'deg)',
  'width': canvasSize,
  'height': canvasSize
  }">
    <circle cx="50%" cy="15%" r="5%" fill="var(--col-lightest-green)"></circle>
    <circle cx="75%" cy="25%" r="5.5%" fill="var(--col-light-green)"></circle>

    <circle cx="85%" cy="50%" r="6%" fill="var(--col-green)"></circle>
    <circle cx="75%" cy="75%" r="6.5%" fill="var(--col-dark-green)"></circle>

    <circle cx="50%" cy="85%" r="7%" fill="var(--col-darker-green)"></circle>
    <circle cx="25%" cy="75%" r="7.5%" fill="var(--col-darkest-green)"></circle>

    <circle cx="15%" cy="50%" r="4%" fill="var(--col-lightest-green)"></circle>
    <circle cx="25%" cy="25%" r="4.5%" fill="var(--col-lightest-green)"></circle>
  </svg>
</div>
