.head {
  margin-top: 10%;
}
.form-control {
}

.col-md-8 {
  margin: 5px;
}

.container {
  top: 10vh;
  width: 400px;
  height: 50vh;
  box-shadow: rgba(0,0,0,0.3) 10px 10px;
  background-color: var(--col-beige);
}

.btn{
  margin: 10px 2% 2%;
  width: 46%;
}

.alert {
  margin-top: 10%;
}

.error {
  color: red;
  font-size: 12px;
}

p {
  margin: 0;
}
