.head {
  margin-top: 10%;
}
.form-control {
}

.col-md-8 {
  margin: 5px;
}

.container {
  width: 400px;
  box-shadow: rgba(0,0,0,0.3) 10px 10px;
  background-color: #ededa6;
}

.btn{
  margin:2%;
  margin-top: 10px;
  width: 46%;
}

.alert {
  margin-top: 10%;
}

.error {
  color: red;
  font-size: 12px;
}

p {
  margin: 0;
}
