body{
  background-color: var(--col-base-green)!important;
  height: 100%;
  overflow: hidden;
}

:root {
  --col-beige: #EDEDA6;
  --col-light-beige: #EFEFBE;
  --col-dark-beige: #D9D99B;

  --col-darkest-green: #236F3D;
  --col-darker-green: #2C874B;
  --col-dark-green: #329654;
  --col-base-green: #33AD5C;
  --col-green: #38A75E;
  --col-light-green: #3DB867;
  --col-lightest-green: #41C970;
}

html {
  height: 100%;
}



/*-- Global Modal styling --*/
.modal-container {
  position: absolute!important;
  width: 100%!important;
  height: 120vh!important;
  top:0!important;
  left: 0!important;
  right: 0!important;
  bottom: 0!important;
  background-color: rgba(0,0,0,0.5)!important;
}

.modal-content {
  top: 20%!important;
  left: 30vw!important;
  width: 40vw!important;
  right: 30vw!important;
  background-color: var(--col-beige)!important;
  padding: 20px!important;
}

.close {
  text-align: right!important;
}

.close:hover {
  cursor: pointer!important;
}
/*-- Global Modal styling --*/
